<div class="outer_border">
  <div class="inner_border">
    <div class="title_block">
      <h1 class="title">アカウント情報編集</h1>
    </div>
    <div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="input_container">
        <div class="field">
          <div class="input_label">
            <%= f.label :ユーザー名 %><br />
          </div>
          <div class="input_area">
            <%= f.text_field :username, autofocus: true %>
          </div>
        </div>
        <div class="field">
          <div class="input_label">
            <%= f.label :メールアドレス %><br />
          </div>
          <div class="input_area">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>
        <div class="field">
          <div class="input_label">
            <%= f.label :自己紹介 %><br />
          </div>
          <div class="input_area">
            <%= f.text_area :profile, autofocus: true %>
          </div>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="field">
          <div class="input_label">
            <%= f.label :イメージ画像 %><br/>
          </div>
          <div class="input_area">
            <%= f.file_field :image %>
          </div>
        </div>
        <div class="field">
          <div class="input_label">
            <%= f.label :パスワード %>
          <% if @minimum_password_length %>
            <br />
            <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %>
          </div>
          <div class="input_area">
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        </div>
        <div class="field">
          <div class="input_label">
            <%= f.label :パスワード確認 %><br />
          </div>
          <div class="input_area">
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>
        <div class="field">
          <div class="input_label">
            <%= f.label :現在のパスワード %> <i>(現在のパスワードを入力してください)</i><br />
          </div>
          <div class="input_area">
            <%= f.password_field :current_password, autocomplete: "current-password" %>
          </div>
        </div>
      </div>
      <div class="creation_btn btn">
        <%= f.submit "更新" %>
      </div>
    <% end %>
    <div class="delete_btn">
      <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当によろしいですか?" }, method: :delete %>
    </div>
  </div>
</div>