<div class="outer_border">
  <div class="inner_border">
    <div class="title_block">
      <h1 class="title">アカウント登録</h1>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="input_container">
        <div class="field">
          <div class="input_label">
            <%= f.label :ユーザー名 %><br />
          </div>
          <div class="input_area">
            <%= f.text_field :username, autofocus: true %>
          </div>
        </div>
        <div class="field">
          <div class="input_label">
            <%= f.label :メールアドレス %><br />
          </div>
          <div class="input_area">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>
        <div class="field">
          <div class="input_label">
            <%= f.label :パスワード %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上)</em>
            <% end %><br />
          </div>
          <div class="input_area">
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        </div>
        <div class="field">
          <div class="input_label">
            <%= f.label :パスワード %>(確認用)
          </div>
          <div class="input_area">
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>
        <div class="creation_btn btn">
          <%= f.submit "アカウント作成" %>
        </div>
      </div>
    <% end %>
  </div>
</div>