<div class="nested-fields">
  <div class="diary_product">
    <div class="diary_product_input">
      <%= f.text_field :diary_product_name, placeholder: "商品名" %>
    </div>
    <div class="diary_product_input">
      <%= f.number_field :diary_product_price, placeholder: "価格", min:"0" %>円
    </div>
    <div class="diary_product_input">
      <%= f.number_field :diary_product_alcohol, placeholder: "アルコール度数", min:"0" %>%
    </div>
    <div class="delete_button">
      <%= f.link_to_remove '削除' %>
    </div>
  </div>
</div> 