<div class="diary_outer_border">
  <div class="diary_inner_border">
    <div class="proposition">
      <h2>日記</h2>
    </div>  
    <div class="diary_registration">
      <%= link_to  new_diary_path do%>
        <p class="diary_p">日記を書く</p>
      <% end %>
    </div>  
    <%= month_calendar events: @diaries do |date, diaries| %>
    <%= date.day %>
    <% diaries.each do |diary| %>
      <% if current_user.id == diary.user_id  %>
        <%= link_to diary.title, diary %>
      <% else %>
        
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>
<%= @total_price %>
