<div class="diary_outer_border">
  <div class="diary_inner_border">
    <div class="proposition">
      <h2>日記</h2>
    </div>
    <div class="diary_contents">
      <%= nested_form_for @diary do |f| %>
        <% if @diary.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@diary.errors.count, "エラー") %></h2>
            <ul>
              <% @diary.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="diary_contents_form">
          <div class="diary_head">
            <div class="diary_title">
              <%= f.label :title, "タイトル" %>
              <%= f.text_field :title %>
            </div>
            <div class="diary_time">
              <%= f.label :start_time, "日時" %>
              <%= f.datetime_select :start_time %>
            </div>
          </div>
          <%= f.fields_for :diary_details do |d| %>
            <%= render "diary_detail_fields", f: d %>
          <% end %>
          <div class="addition_button">
            <%= f.link_to_add '+ 追加', :diary_details %>
          </div>
          <div class="impression">
            <div class="impression_label">
              <%= f.label :impression, "感想" %>
            </div>
            <div class="impression_input">
              <%= f.text_area :impression %>
            </div>
          </div>
        </div>
        <div class="diary_submit_button">
          <%= f.submit "登録"%>
        </div>
      <% end %>
    </div>
  </div>
</div>


