<div class="diary_outer_border">
  <div class="diary_inner_border">
    <div class="proposition">
      <h2>日記詳細</h2>
    </div>
    <div class="edit_space">
      <%= link_to '編集', edit_diary_path(@diary) %>
    </div>
    <div class="diary_contents">
      <div class="diary_head">
        <div class="diary_title_show">
          <%= @diary.title %>
        </div>
        <div class="diary_time_show">
          <%= @diary.start_time.strftime("%Y-%m-%d %H:%M") %>
        </div>
      </div>
      <div class="diary_border_botoom">
        <table class="diary_show_table">
          <tr>
            <th>商品名</th>
            <th>アルコール度数</th>
            <th>金額</th>
          </tr>
          <% @diary_details.each do |c| %>
            <tr>
              <td><%= c.diary_product_name%></td>
              <td class="right_justified"><%= c.diary_product_alcohol%>%</td>
              <td class="right_justified"><%= c.diary_product_price%>円</td>
            </tr>
          <% end %>
        </table>
        <div class="diary_total_price_area">
          <div class="diary_total_price_label">
            <p>合計金額</p>
          </div>
          <div class="diary_total_price">
            <%= @total_price %>円
          </div>
        </div>
      </div>
      <div class="diary_impression_show">
        <%= @diary.impression %>
      </div>
    </div>
  </div>
</div>
<div class="back">
  <%= link_to '戻る', diaries_path %> 
</div>