<div class="outer_border">
  <div class="inner_border_product">
    <div class="product_list_title">
      <h2>いいねした投稿</h2>
    </div>
    <div class="product_list">
      <% if @user.liked_products.present?%>
        <% @user.liked_products.each do |product| %>
          <%= link_to product_path(product.id) do %>
            <div class="product_content">
              <div class="product_image_">
                <% if product.product_image? %>
                  <img src="<%= product.product_image %>" class="icon_image user_show_icon" alt="商品画像">
                <% else %>
                  <img src="/assets/not_image.png" class="icon_image user_show_icon" alt="not_image" %>
                <% end %>
              </div>
              <div class="product_content_right">
                <div class="product_appeal_index">
                  <%= product.appeal %>
                </div>
                <div class="product_name_index">
                  <%= product.product_name%>
                </div>
                <div class="product_evaluation_index">
                  <div id="star-rate-<%= product.id %>"></div>
                    <script>
                    $('#star-rate-<%= product.id %>').empty();
                      $('#star-rate-<%= product.id %>').raty({
                        size: 36,
                        starOff:  '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        starHalf: '<%= asset_path('star-half.png') %>',
                        half: true,
                        readOnly: true,
                        score: <%= product.evaluation %>,
                      });
                    </script>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="not_product">
          <p>投稿がありません</p>
        </div>
      <% end %>
    </div>
  </div>
</div>