<div class="outer_border">
  <div class="inner_border_follow">
    <div class="follow_list_title">
      <h2>フォロワー</h2>
    </div>
    <div class="follow_list">
      <% if @followers.present?%>
        <% @followers.each do |user| %>
          <%= link_to user_path(user) do %>
            <div class="follow_content">
              <div class="follow_image">
                <% if user.image? %>
                  <img src="<%= user.image %>" class="icon_image user_show_icon" alt="ユーザーアイコン">
                <% else %>
                  <img src="/assets/default.png" class="icon_image user_show_icon" alt="ユーザーアイコン" %>
                <% end %>
              </div>
              <div class="follow_content_right">
                <div class="follow_name_index">
                  <%= user.username %>
                </div>
                <div class="follow_profile_index">
                  <%= user.profile %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="not_follow">
          <p>フォロワーがいません</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= link_to ("ユーザー詳細へ戻る"), user_path %>