<h1>ユーザー一覧</h1>
<h1>All users</h1>
<h2>ログイン中のユーザー名</h2>
<ul class="users">
<% @users.each do |user| %>
  <li>
    <%= link_to user do %>
      <%= user.username%>
    <% end %>
  </li>
<% end %>
</ul>