<div class="outer_border">
  <div class="inner_border_product">
    <div class="serach_title">
      <h2>検索</h2>
    </div>
    <div class="search_top_text">
      <p>
        あなたと気の合う飲み友を探せます
      </p>
    </div>
    <div class="search_input">
      <%= form_tag(search_users_path,:method => 'get') do %>
        <div class="search_input_area">
          <%= text_field_tag :search %>
        </div>
        <div class="search_btn">
          <%= submit_tag 'Search', :name => nil %>
        </div>
      <% end %>
    </div>
    <div class="user_list">
      <% @user.each do |user| %>
        <% unless user.id == current_user.id %>
          <%= link_to user_path(user.id) do %>
            <div class="user_search_content">
              <div class="product_image_search">
                <% if user.image? %>
                  <img src="<%= user.image %>" class="icon_image user_show_icon" alt="ユーザーアイコン">
                <% else %>
                  <img src="/assets/default.png" class="icon_image user_show_icon" alt="ユーザーアイコン" %>
                <% end %>
              </div>
              <div class="user_content_right search_user_content_right">
                <div class="username_index search_username_index">
                  <%= user.username %>
                </div>
                <div class="user_profile_index
                search_user_profile_index">
                  <%= user.profile %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>