<div class="outer_border">
  <div class="content_user_show">
    <div class="user_infomation">
      <h2 class="user_name"><%= @user.username %></h2>
      <% if @user.image? %>
        <img src="<%= @user.image %>" class="icon_image user_show_icon" alt="ユーザーアイコン">
      <% else %>
        <img src="/assets/default.png" class="icon_image user_show_icon" alt="ユーザーアイコン" %>
      <% end %>
    </div>
    <div class="function">
      <div class="function_top">
        <div class="function_list">
          <%= link_to "#{@user.followers.count} #{User.human_attribute_name("フォロー")}", followings_user_path(@user) %> 
        </div>
        <div class="function_list">
          <%= link_to "#{@user.followings.count} #{User.human_attribute_name("フォロワー")}", followers_user_path(@user) %>
        </div>
        <div class="function_list">
          <%= link_to "投稿一覧", product_user_path(@user.id) %>
        </div>
      </div>
      <div class="function_bottom">
        <div class="user_profile">
          <%= @user.profile %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="functions">
    <% if @user.id == current_user.id %>
      <div class="function_details">
        <%= link_to edit_user_registration_path do %>
          <div class="function_detail function_detail_edit function_border_left">
            <img src="/assets/icon_edit.png", class="function_detail_icon icon_a">
            <p>アカウント編集</p>
          </div>
        <% end %>
      </div>
      <div class="function_details">
        <%= link_to new_product_path do %>
          <div class="function_detail function_detail_product_new">
            <img src="/assets/icon_registration.png", class="function_detail_icon">
            <p>商品登録</p>
          </div>
        <% end %>
      </div>
      <div class="function_details">
        <%= link_to product_likes_path(@user) do %>
          <div class="function_detail function_detail_like">
            <img src="/assets/icon_like.png", class="function_detail_icon">
            <p>いいねした投稿</p>
          </div>
        <% end %>
      </div>
      <div class="function_details">
        <%= link_to diaries_path do%>
          <div class="function_detail function_border_right function_detai_diary" >
            <img src="/assets/icon_diary.png", class="function_detail_icon">
            <p>日記をかく</p>
          </div>
        <% end %>
      </div>
    <% else %>
      
    <% end %>
  </div>
  <% unless @user == current_user %>
    <div class="chat_button">
      <% if @is_room == true %>
        <a href="/rooms/<%= @room_id %>">チャット</a>
      <% else %>
        <%= form_for @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, :value=> @user.id %>
          <% end %>
          <%= f.submit "チャット" %>
        <% end %>
      <% end %>
    </div>
    <% if current_user.following?(@user) %>
      <div class="follow_btn no_follow_btn">
        <%= button_to ('フォローを解除する'), relationship_path, method: :delete %>
      </div>
    <% else %>
      <%= form_for(@user.followers.build) do |f| %>
        <div class="follow_btn yes_follow_btn">
          <%= hidden_field_tag :follow_id, @user.id %>
          <%= f.submit ('フォローする') %>
        </div>  
      <% end %>
    <% end %>
  <% end %>
</div>