<div class="outer_border">
  <div class="inner_border">
    <div class="title_block">
      <h1 class="title">パスワードをお忘れですか?</h1>
    </div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
    <div class="input_container">
      <div class="field">
        <div class="input_label">
          <%= f.label :メールアドレス %><br />
        </div>
        <div class="input_area">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>
      <div class="reset_btn btn">
        <%= f.submit "パスワードの再設定方法を送信する" %>
      </div>
    </div>
    <% end %>
  </div>
</div>