<header>
  <%= link_to pages_index_path, data: {"turbolinks" => false} do%>
    <h1 class="header_title">
        酒楽
    </h1>
  <% end %>
  <nav>
    <% if user_signed_in? %>
      <div class="header_contents">
        <ul>
          <li class="header_content"><%= link_to'検索', search_products_path %></li>
          <li class="header_content"><%= link_to'投稿', new_product_path %></li>
          <li class="header_content">
            <label for="toggle" onclick=""  for="menuToggle" class="login_user">
              <p class="header_user_name"><%= current_user.username %></p>
            </label>  
            <input type="checkbox" id="toggle" autocomplete="off">
            <ul id="menu" class="user_pulldown">  
              <li class="pulldown"><%= link_to 'プロフィール', user_path(current_user.id) %></li>
              <li class="pulldown"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
      </div>
    <% else %>
      <div class="header_not_login">
        <%= link_to 'サインアップ', new_user_registration_path %>
        <%= link_to 'ログイン', new_user_session_path %>
      </div>
    <% end %>
  </nav>
</header>