<div class="btn">
  <%= form_for(User.new, url:new_user_session_url) do |f| %>
    <%= f.hidden_field :email, value: "xx@example.com" %>
    <%= f.hidden_field :password, value: "password" %>
    <%= f.submit "テストアカウントでログイン"%>
  <% end %>
</div>