<div class="p_top">
  <div class="heading_area">
    <div class="heading">
      <h2>酒楽 ~ Liqour Enjoy ~</h2>
    </div>
    <div class="sub_title">
      <p>
        新しいお酒の楽しみ方を探してみませんか?
      </p>
    </div>
  </div>
  <div class="top_image">
    <div class="top_image_area">
      <img class="top_image_photo" src="/assets/top_beer.jpg">
    </div>
  </div>
</div>
<div class="wave">
  <canvas id="waveCanvas"></canvas>
</div>
<div class="service_list bg">
  <div class="service_area">
    <div class="service">
      <% if user_signed_in? %>
        <%= link_to search_products_path do %>
          <img src="/assets/icon_search.png", class="top_service_icon">
          <h2 class="service_text">好きなお酒を見つける</h2>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <img src="/assets/icon_search.png", class="top_service_icon">
          <h2 class="service_text">好きなお酒を見つける</h2>
        <% end %>
      <% end %>
    </div>
    <div class="service_sentence">
      <p>
        あなたの美味いがここにある<br>
        様々なワードから検索できます
      </p>
    </div>
  </div>
  <div class="service_area service_area_wide">
    <div class="service">
       <% if user_signed_in? %>
        <%= link_to new_product_path do %>
          <img src="/assets/icon_post.png", class="top_service_icon">
          <h2 class="service_text">飲んだお酒を共有する</h2>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <img src="/assets/icon_post.png", class="top_service_icon">
          <h2 class="service_text">飲んだお酒を共有する</h2>
        <% end %>
      <% end %>
    </div>
    <div class="service_sentence">
      <p>
        飲んだお酒を投稿し共有しましょう
      </p>
    </div>
  </div>
  <div class="service_area">
    <div class="service">
       <% if user_signed_in? %>
        <%= link_to search_users_path do %>
          <img src="/assets/icon_friend.png", class="top_service_icon">
          <h2 class="service_text_friend">飲み友を見つける</h2>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <img src="/assets/icon_friend.png", class="top_service_icon">
          <h2 class="service_text_friend">飲み友を見つける</h2>
        <% end %>
      <% end %>
    </div>
    <div class="service_sentence">
      <p>
        お酒を飲み合える「飲み友」を探しましょう
      </p>
    </div>
  </div>
  <div class="service_area service_area_wide">
    <div class="service">
       <% if user_signed_in? %>
        <%= link_to diaries_path do %>
          <img src="/assets/icon_diary.png", class="top_service_icon">
          <h2 class="service_text">飲んだお酒を管理する</h2>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <img src="/assets/icon_diary.png", class="top_service_icon">
          <h2 class="service_text">飲んだお酒を管理する</h2>
        <% end %>
      <% end %>
    </div>
    <div class="service_sentence service_sentence_under">
      <p>
        飲んだお酒を記録し思い出に残しましょう<br>
        金額等も入力し管理できます
      </p>
    </div>
  </div>
</div>
<script src="/assets/bubble.js"></script>
<script src="/assets/wave.js"></script>