<div class="outer_border">
  <div class="inner_border">
    <div class="title_block">
      <h1 class="title">ログイン</h1>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="input_container">
        <div class="field">
          <div class="input_label">
            <%= f.label :メールアドレス %><br />
          </div>
          <div class="input_area">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>
        <div class="field">
          <div class="input_label">
            <%= f.label :パスワード %><br />
          </div>
          <div class="input_area">
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="login_hold">
            <%= f.check_box :remember_me %>
            <%= f.label :ログイン状態を保持する %>
          </div>
        <% end %>
      </div>
      <div class="btn">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
    <%= render 'shared/test_login' %>
    <div class="confirmation">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>