<div class="chats_area">
  <div class="chats_content">
    <div class="partner">
      <% @user_name.each do |s| %>
        <% if current_user == s.user  %>
        <% else %>
          <%= s.user.username %>
        <% end %>
      <% end %>
    </div>
    <div id="chats">
      <% if @messages.present? %>
        <% @messages.each do |m| %>
          <% if current_user == m.user  %>
            <div class="mycomment">
              <p><%= m.content %></p>
            </div>
            <p><%= m.created_at.to_s(:datetime_jp) %></p>
          <% else %>
            <div class="fukidasi">
              <div class="chatting">
                <div class="says">
                  <p><%= m.content %></p>
                </div>
                <p class="time">
                  <%= m.created_at.to_s(:datetime_jp) %>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <h3 class="text-center">メッセージはまだありません</h3>
      <% end %>
      <%= form_for @message do |f| %>
        <div class="sentence-area">
          <div class="sentence">
            <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , :size => 70 %>
            <%= f.hidden_field :room_id, :value => @room.id %>
          </div>
          <div class="send">
            <%= f.submit "送信" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% @user_name.each do |s| %>
    <% if current_user == s.user  %>
    <% else %>
      <%= link_to user_path(s.user.id) do %>
        <p class="room_back">戻る</p>
      <% end %>
    <% end %>
  <% end %>
</div>