.icon_image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}

/* product */
.inner_border_follow {
  padding: 20px;
  border-radius: 10px;
  margin-top: 70px;
}
.follow_list_title {
  padding: 10px;
}
.follow_list {
  padding: 10px;
  background-color: #fff;
}
.follow_list a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.follow_content {
  padding: 20px;
  background-color: orange;
  width: 100%;
  margin-top:10px;
  border-radius: 20px;
  display: flex;
}
.follow_content a {
  width: 100%;
  height: 100%;
}
.follow_content_right {
  padding: 20px;
  font-size: 15px;
  margin-left: 20px;
}
.follow_name_index {
  padding: 20px;
  font-size: 28px;
}
.follow_name_index a {
  text-decoration: none;
}
.follow_profile_index {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}
.not_follow {
  font-size: 20px;
}
/* @media max-width 500px */
@media (max-width: 500px) {
  .follow_list {
    padding: 10px;
    background-color: #fff;
    width: 430px;
  }
  .follow_content_right {
    padding: 20px;
    font-size: 15px;
    margin-left: 10px;
  }
}