footer {
  background-color: #fff;
  height: 100px;
  padding: 20px;
  text-align: center;
  display: block;
}
.footer_title {
  font-family: "游教科書体","YuKyokasho";
}
.footer_title a {
  text-decoration: none;
}
footer:before{
  content:"";
  position:absolute;
  left:0;
  display:block;
  width:100%;
  border-top:3px solid #AEAEAE;
  margin-top:-20px;
}