header {
  padding: 10px;
  display: flex;
  height: 70px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  top:0;
  z-index: 999;
}
.header_title {
  font-size: 24px;
  padding: 10px;
  color: black;
  width: 160px;
  float: left;
  text-align: center;
  font-family: "游教科書体","YuKyokasho";
}
.header_title:hover, .header_not_login a:hover {
  opacity: 0.5;
}
.header_not_login a {
  color: black;
}
nav {
  float: right;
  width: 240px;
  height: 50px;
  padding: 14px 0 10px 10px;
}
ul {
  color: black;
  list-style: none;
}
ul li {
  color: black;
}
.login_user {
  font-size: 20px;
}
#toggle {
  display: none;
  }
#menu {
  display: none;
  }
#toggle:checked + #menu {
  display: block;
  }
.header_contents ul {
  display: flex;
}
.header_content  {
  text-align: center;
  line-height: 2rem;
}
.header_content a {
  color: black;
}
.login_user, option {
  cursor: pointer;
}
.pulldown {
    list-style: none;
    position: relative;
}
.pulldown a {
    background: orange;
    border-right: 1px solid #eee;
    color: #fff;
    display: block;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    border: solid black 1px;
}
nav a {
  text-decoration: none;
}
nav a {
  margin-right: 20px;
  color: #fff;
}
.gnav li li {
  height: 0;
  overflow: hidden;
  transition: .5s;
}
.gnav li li a {
  border-top: 1px solid #eee;
}
.gnav li:hover > ul > li {
  height: 2rem;
  overflow: visible;
}
.header_user_name {
  text-align: left;
  margin-right: 30px;
  color: black;
}