.chats_area {
  padding: 30px;
  background-color: rgb(209, 209, 209);
}
.chats_content {
  width: 600px;
  margin: 0 auto;
}
.partner {
  background-color: rgb(70, 70, 247);
  padding: 16px;
  text-align: center;
  font-size: 24px;
  margin-top: 100px;
}
.rooms{
  margin:0 auto;
  background-color:#fdfdfd;
  border: 2px solid #eee;
  padding:1em 2em;
}
#chats{
  padding: 20px;
  max-width: 600px;
  margin: 0px auto;
  text-align: right;
  font-size: 14px;
  background: #7da4cd;
}
.fukidasi {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}
.fukidasi .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}
.fukidasi .faceicon img{
  width: 90%;
  height: auto;
  border-radius: 50%;
}
.fukidasi .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 10px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}
.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}
.mycomment {
  margin: 10px 0;
}
.mycomment p {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}
.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
.time {
  margin-top: 10px;
}
.text-center {
  text-align: center;
}
.sentence-area {
  display: flex;
  margin-top: 10px;
}
.sentence {
  width: 90%;
  background-color: white;
  border: 1px gray solid;
}
.sentence input {
  width: 100%;
}
.send {
  background-color: white;
  border: 1px gray solid;
  margin-left: 5px;
}
.send input {
  text-align:center;
}

/* @media max-width 750px */
@media (max-width: 750px) {
  .chats_content {
    width: 450px;
    margin: 0 auto;
  }
}