.serach_title {
  font-size: 30px;
  text-align: center;
}
.search_top_text {
  font-size: 22px;
  text-align: center;
  margin: 20px 0;
}
.search_input {
  margin: 0 auto 80px auto;
  height: 50px;
  width: 600px;
}
.search_input_area {
  border: 1px solid grey;
}
.search_input input {
  height: 50px;
  width: 100%;
  font-size: 24px;
  padding: 10px;
}
.search_btn {
  background-color: orange;
  color: #fff;
  margin-top: 10px;
  border-radius: 20px;
}
.search_btn:hover {
  opacity: 0.7;
}
.product_star {
  background-color: #fff;
  border-radius: 20px;
}