.outer_border {
  padding: 30px;
  background-color: rgb(209, 209, 209);
}
.inner_border {
  background-color: #fff;
  padding: 20px;
  width: 500px;
  margin: 80px auto 0 auto;
  border-radius: 10px;
}
.title {
  text-align: center;
}
.input_container {
  padding: 30px;
  margin: 0 auto;
}
.field {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
.input_label {
  padding: 6px;
}
.input_area {
  padding: 6px;
}
.input_area input, .input_area textarea {
  border: 1px black solid;
  border-radius: 10px;
  padding: 4px;
}
.btn {
  background-color: orange;
  width: 300px;
  height: 40px;
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
  color: white;
}
.btn input, .btn #new_user {
  width: 100%;
  height: 100%;
}
.login {
  text-align: center;
}
/* login */
.login_hold {
  text-align: center;
}
.confirmation {
  text-align: center;
}
.delete_btn {
  text-align: center;
  margin-bottom: 10px;
}
.back {
  text-align: center;
}

/* @media max-width 500px */
@media (max-width: 500px) {
  .inner_border {
    background-color: #fff;
    padding: 20px;
    width: 450px;
    margin: 80px auto 0 auto;
    border-radius: 10px;
  }
}