.user_list {
  background-color: #fff;
  padding: 20px;
}
.user_search_content {
  padding: 30px;
  background-color: orange;
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
}
.user_search_content:hover {
  opacity: 0.7;
}
.user_list a {
  text-decoration: none;
}
.user_content_right {
  padding: 20px;
  margin-left: 30px;
}
.username_index {
  font-size: 24px;
  padding: 20px;
}
.user_profile_index {
  font-size: 18px;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}
/* @media max-width 500px */
@media (max-width: 750px) {
  .user_list {
    width: 430px;
    margin: 0 auto;
  }
  .user_search_content {
    flex-direction: column;
  }
  .product_image_search {
    margin: 0 auto;
  }
  .search_input {
    margin: 0 auto 80px auto;
    height: 50px;
    width: 400px;
  }
  .search_user_content_right {
    margin: 0;
  }
  .search_username_index {
    text-align: center;
  }
  .search_user_profile_index, .search_username_index {
    margin: 0 auto;
  }
}