.content_user_show {
  background-color: orange;
  border-radius: 20px;
  width: 940px;
  padding: 40px;
  margin: 0 auto;
  display: flex;
  margin-top: 70px;
}
.user_infomation {
  padding: 20px;
}
.user_name {
  font-size: 40px;
  text-align: center;
  margin: 10px auto;
}
.user_show_icon {
  text-align: center;
}
.function {
  padding: 20px;
  width: 620px;
}
.function_top {
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
}
.function_bottom {
  padding: 10px;
  display: flex;
}
.function_list {
  padding: 20px; 
  vertical-align: middle;
  text-align: center;
  width: 33%;
}
.function_list a, .chat_button a {
  text-decoration: none; 
}
.function_list+ .function_list {
  border-left: solid gray;
}
.chat_button {
  padding: 10px;
}
.user_profile{
  padding: 10px;
}
.follow_btn, .chat_button {
  background-color: orange;
  width: 400px;
  height: 40px;
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
}
.follow_btn input, .chat_button a, .chat_button input {
  width: 100%;
  height: 100%;
  color: white;
  display: block;
}
.follow_btn:hover, .chat_button:hover {
  opacity: 0.7;
}
.functions {
  width: 860px;
  display: flex;
  margin: 10px auto;
}
.function_border_left {
  border-top-left-radius : 40px;
  border-bottom-left-radius : 40px;
}
.function_border_right {
  border-top-right-radius : 40px;
  border-bottom-right-radius : 40px;
}
.function_detail {
  background-color: white;
  text-align: center;
  padding:20px;
}
.function_details a {
  text-decoration: none;
}
.function_detail_icon {
  width: 30px;
  height: 30px;
}
.function_details+ .function_details {
  border-left: solid rgb(209, 208, 208);
}
.function_details {
  width: 25%;
}

/* @media max-width 500px */
@media (max-width: 750px) {
  .content_user_show {
    background-color: orange;
    border-radius: 20px;
    width: 460px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    margin-top: 70px;
  }
  .user_infomation {
    padding: 10px;
  }
  .function {
    padding: 20px;
    width: 200px;
  }
  .function_top {
    padding: 10px;
    flex-direction: column;
  }
  .function_bottom {
    padding: 10px;
  }
  .function_list {
    padding: 10px; 
    width: 160px;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    margin-bottom: 6px;
  }
  .function_list+ .function_list {
    border-top: solid gray;
    border-left: none;
  }
  .functions {
    width: 460px;
    margin: 20px auto 10px auto;
  }
  .function_detail {
    height: 140px;
  }
}
/* @media max-width 500px */
@media (min-width: 751px) and (max-width: 1024px) {
  .content_user_show {
    width: 90%;
  }
  .function_top {
    padding: 10px;
    flex-direction: column;
    margin-left: 40px;
  }
  .function_list {
    padding: 10px; 
    width: 200px;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    margin-bottom: 6px;
  }
  .function_list+ .function_list {
    border-top: solid gray;
    border-left: none;
  }
  .functions {
    width: 90%;
    margin: 20px auto 10px auto;
  }
}