.diary_outer_border {
  padding: 30px;
  background-color: rgb(209, 209, 209);
}
.diary_inner_border {
  background-color: orange;
  padding: 20px;
  border-radius: 10px;
  margin-top: 70px;
  position: relative;
}
.proposition {
  padding: 10px;
  text-align: center;
  font-size: 24px;
}
.edit_space {
  font-size: 20px;
  position: absolute;
  top: 50px;
  right: 50px;
}
.diary_contents {
  padding: 10px;
}
.diary_contents_form input, .diary_contents_form textarea, .diary_contents_form select {
  background-color: #fff;
}
.diary_head {
  display: flex;
  padding: 20px;
}
.diary_title, .diary_time {
  font-size: 18px;
}
.diary_time {
  margin: 0 0 0 auto;
}
.impression {
  display: flex;
  height: 200px;
}
.diary_product {
  display: flex;
}
.impression_label {
  width: 100px;
}
.impression_input,  .impression_input textarea {
  width: 100%;
  height: 100%;
}
.impression_label, .impression_input{
  padding: 20px;
  font-size: 18px;
}
#diary_title, #diary_impression, select, .diary_product_input input{
  border: 1px gray solid;
}
.nested-fields {
  padding: 10px;
}
.diary_product_input {
  margin-right: 26px;
}
.delete_button {
  background-color: rgb(18, 18, 53);
  width: 60px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  padding: 4px;
  margin: 0 auto;
  border-radius: 10px;
}
.delete_button > a {
  display: block;
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.addition_button > a {
  display: block;
  text-decoration: none;
}
.diary_submit_button {
  background-color: blue;
  width: 400px;
  height: 40px;
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
}
.diary_submit_button input {
  width: 100%;
  height: 100%;
  color: white;
}
/* show */
.diary_title_show, .diary_time_show {
  font-size: 18px;
  display: flex;
}
.diary_time_show {
  margin: 0 0 0 auto;
}
.diary_border_botoom {
  padding: 20px;
  display: flex;
}
.diary_show_table {
  border-collapse: collapse;
}
.diary_show_table th, .diary_show_table td {
  border: 1px solid #333;
  padding: 10px;
}
.right_justified {
  text-align: right;
}
.diary_impression_show {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
}
.diary_head, .diary_border_botoom {
  border-bottom: solid gray;
}
.diary_total_price_area {
  margin: auto 0 0 auto;
  display: flex;
}
.diary_total_price {
  text-align: right;
}
.diary_total_price_label, .diary_total_price {
  padding: 10px;
  border: solid 1px;
}
.calendar-heading {
  font-size: 30px;
  text-align: center;
}
.calendar-heading a {
  text-decoration: none;
}
.diary_registration {
  width: 200px;
  height: 50px;
  background-color: skyblue;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  top: 50px;
  right: 60px;
}
.diary_registration a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.diary_registration p {
  color: #fff;
  margin-top: 12px;
}
.diary_registration :hover {
  opacity: 0.7;
}

/* @media max-width 500px */
@media (max-width: 840px) {
  .diary_registration {
    width: 100px;
    height: 50px;
    background-color: skyblue;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    top: 40px;
    right: 20px;
  }
  .diary_head {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .diary_time {
    margin: 10px auto 0 0;
  }
  .diary_product {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
  }
  .diary_product_input {
    margin: 10px auto 10px 10px;
  }
}