.p_top {
  position: relative;
}
.heading_area {
  padding: 20px;
  width: 600px;
  height: 160px;
  position: absolute;
  top: 180px;
  left: 60px;
  z-index: 2;
}
.heading {
  font-size: 32px;
}
.sub_title {
  font-size: 20px;
  margin-top: 10px;
}
.sub_title, .top_image, .service, .service:hover, .service_sentence_right, .service_sentence_left {
  z-index: 1;
}
.top_image {
  height: 660px;
  width: 700px;
  margin: 0 0 0 auto;
  border-bottom-left-radius : 100px;
}
.top_image_area {
  position: relative;
  z-index: 1;
}
.top_image_photo{
  height: 660px;
  width :100%;
  border-bottom-left-radius : 100px;
  -webkit-border-bottom-left-radius: 100px;
	-moz-border-radius-bottomleft: 100px;
}
.service_list {
  padding-bottom: 40px;
}
.service {
  background-color: white;
  width: 280px;
  height: 280px;
  border-radius: 140px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 0 auto;
}
.service:hover {
  transform: scale(1.2, 1.2);
  opacity: 0.9;
  color: white;
}
.top_service_icon {
  position:absolute;
  top: 60px;
  left: 110px;
}
.service_text {
  position:absolute;
  top: 130px;
  left: 20px;
  color: black;
}
.service_sentence {
  font-size: 20px;
  color: #035E7B;
  text-align: center;
  margin: 40px auto;
}
.service_sentence_under {
  margin-bottom: 0;
}
.service_text_friend {
  position:absolute;
  top:130px;
  left: 44px;
  color: black;
}
.service a {
  text-decoration: none;
  display: block;
  width: 280px;
  height: 280px;
  border-radius: 140px;
}
.service_post{
  position: absolute;
  top: 0px;
  right: 100px;
}
.service_diary  {
  position: absolute;
  top: 0px;
  right: 100px;
}
.bg {
  background:linear-gradient(#f8ca34,#ff9800) no-repeat;
}
.wave{
  position:relative;
  height:88px;
  }
  canvas{
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  }
  .fa-arrow-alt-left {
    color: red;
    width: 20px;
    height: 20px;
  }
  /* @media max-width 800px */
  @media (max-width: 800px) {
    .heading_area {
      padding: 10px;
      width: 480px;
      height: 160px;
      position: absolute;
      top: 180px;
      left: 46px;
      z-index: 2;
    }
    .heading {
      font-size: 25px;
    }
    .top_image {
      height: 580px;
      width: 500px;
    }
    .top_image_photo{
      height: 580px;
      width :100%;
    }
  }
  /* @media max-width 800px */
  @media (min-width: 801px) {
    .service_area{
      display: flex;
      margin-bottom: 70px;
    }
    .service_area_wide {
      flex-flow: row-reverse;
    }
    .service_sentence {
      margin-top: 120px;
    }
  }