.content_products_show {
  background-color: #fff;
  border-radius: 20px;
  width: 800px;
  padding: 40px;
  margin: 70px auto 0 auto;
}
.product_name_area {
  display: flex;
}
.product_infomation {
  background-color: orange;
  padding: 20px;
  display: flex;
}
.product_left {
  padding: 10px;
}
.product_name {
  padding: 10px;
  text-align: center;
  font-size: 20px;
}
.product_appeal {
  font-size: 40px;
  text-align: center;
  margin: 10px auto;
}
.product_show_icon {
  text-align: center;
}
.function {
  padding: 20px;
}
.function_top {
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
}
.function_bottom {
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}
.product_price, .product_alcohol, .product_company {
  padding: 20px; 
  vertical-align: middle;
  text-align: center;
  width: 100%;
  white-space: nowrap
}
.product_price a, .product_alcohol a, .product_company a {
  text-decoration: none; 
}
.product_price+  .product_alcohol, .product_alcohol+ .product_company {
  border-left: solid gray;
}
.product_introduction{
  padding: 10px;
}
.follow_btn {
  background-color: orange;
  width: 400px;
  height: 40px;
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
}
.follow_btn input {
  width: 400px;
  height: 40px;
  color: white;
}
.like_area {
  padding:10px;
  display: flex;
}
.like_count {
  margin-left: 10px;
}
.unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #808080; 
  margin-left: 20px;
  }
 
 .like-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #e54747;
  margin-left: 20px;
  }
.product_star {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}
/* @media max-width 750px */
@media (max-width: 1024px) {
  .content_products_show {
    background-color: #fff;
    border-radius: 20px;
    width: 450px;
    padding: 20px;
    margin: 70px auto 0 auto;
  }
  .product_name_area {
    flex-direction: column;
  }
  .contributor {
    display: flex;
    margin-bottom: 10px;
  }
  .product_infomation {
    background-color: orange;
    padding: 20px;
    height: 460px;
    display: flex;
    position: relative;
  }
  .product_price+  .product_alcohol, .product_alcohol+ .product_company {
    border-top: solid gray;
    border-left: none;
  }
  .function_bottom_product_show {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    display: float;
    width: 360px;
    margin-top: 10px;
    position: absolute;
    top: 300px;
    left: 20px;
    flex-direction: column;
  }
.like_area {
  padding:10px;
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
}
.like_count {
  margin-left: 10px;
}
.unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #808080; 
  margin-left: 20px;
  }
 .like-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #e54747;
  margin-left: 20px;
  }
}