.icon_image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}
.product_image_area {
  margin: 26px 10px;
}

/* product */
.inner_border_product {
  padding: 20px;
  border-radius: 10px;
  margin-top: 70px;
}
.product_list_title {
  padding: 10px;
}
.product_list {
  padding: 20px;
  background-color: #fff;
}
.product_list a {
  text-decoration: none;
}
.product_content {
  padding: 20px;
  background-color: orange;
  margin-top:20px;
  border-radius: 20px;
  display: flex;
}
.product_content_right {
  padding: 20px;
  font-size: 15px;
  margin-left: 40px;
}
.product_appeal_index {
  padding: 20px;
  font-size: 20px;
  color: black;
}
.product_name_index {
  padding: 20px;
  font-size: 20px;
  color: black;
}
.not_product {
  font-size: 20px;
}
.product_evaluation_index {
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 20px;
}

/* @media max-width 500px */
@media (max-width: 750px) {
  .product_list {
    padding: 10px;
    background-color: #fff;
    width: 430px;
    margin: 0 auto;
  }
  .product_content {
    padding: 20px;
    background-color: orange;
    margin-top:20px;
    border-radius: 20px;
    display: flex;
    height: 330px;
  }
  .product_image_area {
    margin: 50px 10px;
  }
  .product_content_right {
    padding: 10px;
    font-size: 12px;
    margin-left: 10px;
  }
  .product_evaluation_index {
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 20px;
    width: 160px;
  }
}