<h2>index</h2>
<table border="1">
  <tr>
    <th><p>商品名</p></th>
    <th><p>価格</p></th>
    <th><p>紹介文</p></th>
    <th><p>アルコール度数</p></th>
    <th><p>販売会社</p></th>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td><%= product.product_name%></td>
    <td><%= product.product_price%></td>
    <td><%= product.product_introduction%></td>
    <td><%= product.product_alcohol%></td>
    <td><%= product.product_company%></td>
  </tr>
  <% end %>
</table>
<% @products.each do |product| %>
  <li>
    <%= link_to product do %>
      <%= product.product_name %>
    <% end %>
  </li>
<% end %>

<%= link_to '検索', search_products_path %>