<div class="outer_border">
  <div class="inner_border">
    <div class="title_block">
      <h1 class="title">投稿</h1>
    </div>
    <%= form_for @product do |f| %>
    <div class="input_container">
      <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "エラー") %></h2>
          <ul>
            <% @product.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
         <div class="input_label">
          <%= f.label :イメージ画像 %><br/>
        </div>
        <div class="input_area">
          <%= f.file_field :product_image %>
        </div>
      </div>
      <div class="field">
         <div class="input_label">
          <%= f.label :商品名 %><br />
        </div>
        <div class="input_area">
          <%= f.text_field :product_name, autofocus: true %>
        </div>
      </div>
      <div class="field">
         <div class="input_label">
          <%= f.label :アピール文 %><br />
        </div>
        <div class="input_area">
          <%= f.text_field :appeal, autofocus: true %>
        </div>
      </div>
      <div class="field">
         <div class="input_label">
          <%= f.label :価格 %><br />
        </div>
        <div class="input_area">
          <%= f.text_field :product_price, autofocus: true %>円
        </div>
      </div>
      <div class="field">
         <div class="input_label">
          <%= f.label :商品紹介 %><br />
        </div>
        <div class="input_area">
          <%= f.text_area :product_introduction, autofocus: true %>
        </div>
      </div>
      <div class="field">
         <div class="input_label">
          <%= f.label :アルコール度数 %><br />
        </div>
        <div class="input_area">
          <%= f.text_field :product_alcohol, autofocus: true %>%
        </div>
      </div>
      <div class="field">
       <div class="input_label">
          <%= f.label :販売会社 %><br />
        </div>
        <div class="input_area">
          <%= f.text_field :product_company, autofocus: true %>
        </div>
      </div>
      <div class="field">
        <div class="input_label" id="star">
          <%= f.label :evaluation,'評価' %><br>
          <%= f.hidden_field :evaluation, id: :review_star %>
          <script>
            $('#star').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              scoreName: 'product[evaluation]',
              half: true,
            });
          </script>
        </div>
      </div>
    </div>
    <div class="login_btn btn">
      <%= f.submit '登録' %>
    </div>
    <% end %>
  </div>
</div>