<div class="outer_border">
  <div class="inner_border_product">
    <div class="serach_title">
      <h2>検索</h2>
    </div>
    <div class="search_top_text">
      <p>
        色々なワードで検索して<br>
        あなた好みのお酒を探せます
      </p>
    </div>
    <div class="search_input">
      <%= form_tag(search_products_path,:method => 'get') do %>
        <div class="search_input_area">
          <%= text_field_tag :search %>
        </div>
        <div class="search_btn">
          <%= submit_tag 'Search', :name => nil %>
        </div>
      <% end %>
    </div>
    <div class="product_list">
      <% @product.each do |product| %>
        <% unless product.user_id == current_user.id %>
          <%= link_to product_path(product.id) do %>
            <div class="product_content">
              <div class="product_image_">
                <% if product.product_image? %>
                  <img src="<%= product.product_image %>" class="icon_image user_show_icon" alt="商品画像">
                <% else %>
                  <img src="/assets/not_image.png" class="icon_image user_show_icon" alt="not_image" %>
                <% end %>
              </div>
              <div class="product_content_right">
                <div class="product_appeal_index">
                  <%= product.appeal %>
                </div>
                <div class="product_name_index">
                  <%= product.product_name%>
                </div>
                <div class="product_star">
                <div id="star-rate-<%= product.id %>"></div>
                  <script>
                    $('#star-rate-<%= product.id %>').empty();
                      $('#star-rate-<%= product.id %>').raty({
                        size: 36,
                        starOff:  '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        starHalf: '<%= asset_path('star-half.png') %>',
                        half: true,
                        readOnly: true,
                        score: <%= product.evaluation %>,
                      });
                  </script>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>