<div class="outer_border">
  <div class="content_products_show">
    <div class="product_name_area">
      <h2 class="product_appeal">
        <%= @product.appeal%>
      </h2>
      <div class="contributor">
        <p>投稿者名:</p>
        <%= link_to user_path(@product.user_id) do%>
          <%= @user.username %>
        <% end %>
      </div>
    </div>
    <div class="product_infomation">
      <div class="product_left">
        <div class="product_name">
          <%= @product.product_name%>
        </div>
        <div class="product_image">
          <% if @product.product_image? %>
            <img src="<%= @product.product_image %>" class="icon_image product_show_icon" alt="商品の画像">
          <% else %>
            <img src="/assets/not_image.png" class="icon_image product_show_icon" alt="商品の画像" %>
          <% end %>
        </div>
      </div>
      <div class="function">
        <div class="function_top">
          <div class="product_price">
            <p>価格</p>
            <%= @product.product_price%>円
          </div>
          <div class="product_alcohol">
            <p>度数</p>
            <%= @product.product_alcohol%>%
          </div>
          <div class="product_company">
            <p>販売会社</p>
            <%= @product.product_company%>
          </div>
        </div>
        <div class="function_bottom_product_show">
          <div class="product_introduction">
            <%= @product.product_introduction%>
          </div>
          <div class="product_star">
            <div id="star-rate-<%= @product.id %>"></div>
            <script>
              $('#star-rate-<%= @product.id %>').empty();
                $('#star-rate-<%= @product.id %>').raty({
                  size: 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= @product.evaluation %>,
                });
            </script>
          </div>
        </div>
      </div>
      <div class="like_area">
        <% if current_user.already_liked?(@product) %>
          <%= button_to product_like_path(@product), method: :delete, class: "likes" do %>
            <i class="fas fa-heart like-btn", id="liking-btn"></i>
          <% end %>
        <% else %>
          <%= button_to product_likes_path(@product), method: :product, class: "unlikes" do %>
            <i class="far fa-heart unlike-btn", id="nolike-btn"></i>
          <% end%>
        <% end %>
        <p class="like_count"><%= @product.likes.count %></p>
      </div>
    </div>
  </div>  
  <% if @user == current_user %>
    <p><%= link_to "編集する", edit_product_path %></p>
    <p><%= link_to "削除する", product_path(@product.id), method: :delete, data: { confirm: '削除しますか？' }%></p>
  <% end %>
</div>